@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Outfit;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: #fcfcfc;
}

a {
  text-decoration: none;
  color: inherit;
}
hr {
  border: none;
  height: 1px;
  background-color: #a9a9a9;
}
.sidebar-option.active{
  background-color: #fff0ed;
  border-color: tomato;
}
.flex-column{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.add{
  margin-left: max(5vw,25px);
}













@media (max-width:900px) {
  .sidebar-option p{
    display: none;
  }
}